
<%= homepage_links %>

<% if user_signed_in? %>
	<p>
		<%= form_for :add_url, :url => url_for(:controller => 'home', :action => 'create') do |f| %>
		    <%= label_tag(:url, "Create short URL:") %>
			  <%= text_field_tag(:url) %>
			  <%= submit_tag("Create") %>
		<% end %>
	</p>
<% end %>


Last entered URL: <%= params[:url] %>


